h1{
    font-size: 50%;
    font-style: italic;
    font-weight: 100;

}
h1 {
    font-size: 40px;
  }
head{
    background-color: aqua;
    font-style: normal;
    font-size: 50%;
    font-family: Arial;
    font-weight: 100;

}
p{font-size: medium;
    font-family: Arial;
    font-size: 90%;
    font-weight: 100;

}
.center {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 250px;
}
